* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
}

header {
    height: 100vh;
    background-image: url("images/header.jpg");
    background-size: cover;
    background-position: center;
}