/* ------------------------------------ */
/* ----- Basic Setup */
/* ------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --red: #ff3258;
    --white: #ffffff;

    --nav-height: 8rem;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 1.8rem;
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1.2rem 4rem;
    border: 1px solid var(--red);
    font-size: 2.2rem;
}

.row {
    max-width: 1180px;
    margin: 0 auto;
}

/* ------------------------------------ */
/* ----- Header */
/* ------------------------------------ */

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("images/header.jpg");
    background-size: cover;
    background-position: center;
}

header .row {
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 6rem;
    align-items: center;
    height: var(--nav-height);
}

nav a {
    font-size: 2.2rem;
}

.header-text-container {
    display: flex;
    align-items: center;
    height: calc(100% - var(--nav-height));
}

.header-text-container p {
    font-size: 2.4rem;
    margin: 1rem 0 3rem;
}

h1 {
    font-size: 7.5rem;
}